<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- <% if (user) { %>
	<p>Hello <%= user.username %></p>
<% } %> -->
    <header>
      <%- include('../partials/header'); %>
    </header>
    <div class="flex flex-row justify-around">
      <% seasons.forEach(function(season) { %>
        <div><h1><%- season.title %></h1></div>
        <div><img src="<%- season.image %>"/></div>
 <% }); %> 
    </div>
<div class="flex flex-wrap flex-row">

     <% episodes.forEach(function(episode) { %>
    <a href="<%- episode.slug %>">
       
  <div class="flex flex-col rounded-xl m-2 bg-purple-900 pb-2">
    <div class="w-[320px] h-[180px] rounded-t-xl relative">
      <div class="absolute left-0 right-0 w-full h-full overflow-hidden rounded-t-xl">
    <img src="<%- episode.image %>" class="w-full h-full rounded-t-xl hover:scale-110 transition-all duration-300 ease-in-out"></img>
      </div>
      <!-- <div class="absolute top-1/2 left-1/2 ">
        <button><svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
</svg>
        </button>
      </div> -->
    </div>
    <div class="mx-3 mt-2">
      
    <p class="text-white text-lg font-semibold"><%- episode.title %></p>
     <p class="text-gray-400 text-sm font-normal"><%- episode.telecastDate %></p>
    </div>
  </div>
     </a>
 <% }); %> 
</div>
   
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
